.home-subtitle {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}


.menu__inner li a.active {
  color: #e53935 !important;
  font-weight: bold !important;
}

.project-box {
  border: 1.5px solid #e0e0e0;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.04);
  padding: 24px 28px;
  margin-bottom: 36px;
}
