<div class="glider-contain">
  <div class="glider">
    <img src="/images/projects/credit-market-volatility-research/Stats_of_Key_Variables.png" alt="Stats of Key Variables" width="250"/>
    <img src="/images/projects/credit-market-volatility-research/Stats_by_Asset.png" alt="Stats by Asset" width="250"/>
    <img src="/images/projects/credit-market-volatility-research/Panel_Data.png" alt="Panel Data" width="250"/>
    <img src="/images/projects/credit-market-volatility-research/Pooled_OLS.png" alt="Pooled OLS Regression" width="250"/>
    <img src="/images/projects/credit-market-volatility-research/Quintile_Regression_Bitcoin.png" alt="Quantile Regression Bitcoin" width="250"/>
    <img src="/images/projects/credit-market-volatility-research/Quintile_Regression_Nasdaq.png" alt="Quantile Regression Nasdaq" width="250"/>
    <img src="/images/projects/credit-market-volatility-research/py_plot_L_baa_aaa_spread.png" alt="Impact of Lagged Baa-Aaa Spread" width="250"/>
    <img src="/images/projects/credit-market-volatility-research/py_plot_L_treasury_spread.png" alt="Impact of Lagged Treasury Spread" width="250"/>
    <img src="/images/projects/credit-market-volatility-research/py_plot_L_implied_vol.png" alt="Impact of Lagged Implied Volatility" width="250"/>
    <img src="/images/projects/credit-market-volatility-research/py_plot_L_neg_log_ret.png" alt="Impact of Lagged Negative Log Returns" width="250"/>
  </div>
  <button aria-label="Previous" class="glider-prev">«</button>
  <button aria-label="Next" class="glider-next">»</button>
  <div role="tablist" class="dots"></div>
</div>
